<!doctype html>
<html lang="sv">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content=IE=edge>
	<meta name="viewport" content="widht=device-width, initial scale=1">
	<!--de här tre metataggarna måste ligga först, allt annat sedan -->
	<link href="css/bootstrap.min.css" rel=stylesheet>
	<link href="style.css" rel="stylesheet"> 

	<body>

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="questions"> Vilken av följande äppelsorter är röda?</h1>

					<form>
						<input type="radio" name="äppelsort" value="Granny Smith"> Granny Smith <br>
						<input type="radio" name="äppelsort" value="Royal Gala"> Royal Gala <br>
						<input type="radio" name="äppelsort" value="Transparante Blanche"> Transparante Blanche

					<br> <button type ="submit" class="btn btn-warning" > Nästa fråga </button> 


					</form>

				</div>
			</div>
		</div>
	</body>
	</html>