<!doctype html>
<html lang="sv">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content=IE=edge>
	<meta name="viewport" content="widht=device-width, initial scale=1">
	<!--de här tre metataggarna måste ligga först, allt annat sedan -->
	<link href="/static/css/bootstrap.min.css" rel=stylesheet>
	<link href="/static/style.css" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

	<body>

		<div class="container">
			<div class="row">
				<div class="col-md-12">

				<h1 class="questions">{{ question_number }}. {{ question}}</h1>

					<form action="{% url 'answer_page' quiz.quiz_number question_number %}" method="post">
						{% csrf_token %}
						<input type="radio" name="answer" value="1" checked > {{ answer1 }} <br>
						<input type="radio" name="answer" value="2"> {{ answer2 }} <br>
						<input type="radio" name="answer" value="3"> {{ answer3 }}

					<br> 
					<br> 
					<br> 
					<button type ="submit" class="btn btn-danger" > Nästa </button> 


					</form>

				</div>
			</div>
		</div>
	</body>
	</html>