html {
	min-height: 100%;
}
/*OBS det är viktigt att ställa in min-height inom html-taggen OCKSÅ, inte bara i body, annars kommer bakgrunden inte att bli rätt. 
*/
body {
/*	background-color:#71E3CA;
*/	background: linear-gradient(to bottom, #0589B5, lightgreen, white);
	background-size: cover;
	min-height: 100%;
}


h1 {
	color:#8C0101;
	font-family: helvetica;
	;
}
h2 {
	font-family:'Lobster', cursive;
	color:#8C0101;
}
h3 {
	font-family: helvetica;
}

img {
	width:150px;
	height:150px;

}

.questions {
	color: white;
	font-size: 18px;

}
.frontpageheader {
	text-align: center;
	font-family:'Lobster', cursive;
	font-size: 40pt;
}

.centertext {
	text-align: center;
	font-size: 13pt;
}
/*.header {
	height: 130px;
	background-image: url(elefantdrop.jpg);
}
.footer {
	height: 200px;
	background-image: url(elefantdrop.jpg);*/