html {
	min-height: 100%;
}

body {
/*	background-color:#71E3CA;
*/	background: linear-gradient(to bottom, white, lightblue, lightgreen);
	background-size: cover;
	min-height: 100%;
}


h1 {
	color:#BD1900;
	font-family: helvetica;
	;
}
h2 {
	font-family:'Lobster', cursive;
	color:#BD1900;
}
h3 {
	font-family: helvetica;
}

img {
	width

}

.questions {
	color: #325C08;
	font-size: 20px;
}
.frontpageheader {
	text-align: center;
	font-family:'Lobster', cursive;
}

.centertext {
	text-align: center;
}
/*.header {
	height: 130px;
	background-image: url(elefantdrop.jpg);
}
.footer {
	height: 200px;
	background-image: url(elefantdrop.jpg);*/